/*
 * Style for d3 graphs
 */

.vis-chart .axis path, .vis-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.vis-chart .x.axis path {
  // display: none;
}

.vis-chart rect.bar, .vis-chart circle.legend-item, .vis-chart circle.plot, .vis-chart circle.control-item {
  stroke-width: 2;
  stroke-opacity: 1 !important;
}

.vis-chart circle.plot, .vis-chart rect.bar {
  fill-opacity: .6;
}

.vis-chart path.line {
  stroke-width: 4;
  fill: none;
}

.vis-chart .legend {
  z-index: 10;
}

.vis-chart .legend-text {
  font-size: 12px;
}

.vis-chart .axis-label {
  font-size: 14px;
}

.vis-chart .tick line{
  stroke: lightgrey;
  opacity: 0.7;
}

.vis-chart line.origin-line {
  stroke: black;
  stroke-width: 2;
  opacity: 1;
  stroke-dasharray: 5,5;
}

.vis-chart circle.control-item {
  stroke: #000;
  fill: #000;
}

.vis-chart rect.box-plot {
  stroke: black;
  stroke-width: 2;
  stroke-opacity: 1;
  fill-opacity: 0;
  fill: white;
}

.vis-chart line.box-plot-median {
  stroke: DarkGray;
  stroke-width: 2;
  stroke-dasharray: 3,3;
  opacity: 1;
}

.vis-chart line.error-line {
  stroke:black;
  stroke-width: 2;
  stroke-dasharray: 3,3;
}

.vis-chart line.error-cap-line {
  stroke: black;
  stroke-width: 2;
}

div.vis-chart-tooltip {
  z-index: 1000;
  position: absolute;
  text-align: center;
  min-width: 50px;
  min-height: 30px;
  padding: 0;
  font-size: 16px;
  background: #fafafa;
  border: 1px solid black;
  pointer-events: none;
}

.vis-chart-tooltip header{
  background-color: #f78c40;
  border-bottom: 2px solid black;
  font-size: 22px;
  padding: 5px 10px 3px 10px;
}

.vis-chart-tooltip div {
  padding: 5px;
}

.vis-chart-tooltip div div {
  padding: 0;
}




// Treemap

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}