/*
 * Style for d3 graphs
 */

.vis-chart .axis path, .vis-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.vis-chart .x.axis path {
  // display: none;
}

.vis-chart rect.bar, .vis-chart circle.legend-item, .vis-chart circle.plot {
  stroke-width: 2;
  stroke-opacity: 1 !important;
}

.vis-chart circle.plot, .vis-chart rect.bar {
  fill-opacity: .6;
}

.vis-chart path.line {
  stroke-width: 4;
  fill: none;
}

.vis-chart .legend {
  z-index: 10;
}

.vis-chart .legend-text {
  font-size: 12px;
}

.vis-chart .axis-label {
  font-size: 14px;
}

.vis-chart .tick line{
  stroke: lightgrey;
  opacity: 0.7;
}

// Treemap

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}