// Treemap

.vis-treemap .node {
  padding-top: 5px;
  border: solid 1px white;
  font: 16px sans-serif;
  font-weight: bold;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}